$square_size : 6rem;

$primary_color: #FF9A14;
$secondary_color: #0A0708;
$tertiary_color: #444444;
$forth_color: #FFFFFF;

@mixin insideButton($text_color, $backgroundcolor) {
  font-size: 3rem;
  font-weight: bold;
  width: 100%;
  height: 100%;
  border: 2px solid $secondary_color;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $text_color;
  background-color: $backgroundcolor;
  &:hover{
    background-color: lighten($backgroundcolor, 10%);
    color: red;
    transition: 0.3s;
  }
}

*{
  box-sizing: border-box;
}

.page{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

.outside{
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
  border: 2px solid black;
}

.display_box{
  height: #{$square_size * 2};
  width:  #{$square_size * 4};
  background-color: $secondary_color;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.top_display{
  width: 92%;
  height: 50%;
  color: $forth_color;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  font-size: 3rem;
}

.bottom_display{
  width: 92%;
  font-size: 5rem;
  height: 50%;
  color: $forth_color;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

.button_box {
  width: #{$square_size * 4};
  height: #{$square_size * 5};
  display: flex;
  flex-flow: column-reverse wrap;
}

.button {
  width: $square_size;
  height: $square_size;
  background-color: $secondary_color;
  
}

.button_equal {
  width: $square_size;
  height: #{$square_size * 2} ;
  background-color: $secondary_color;
}

.pad {
  @include insideButton($forth_color, $tertiary_color);
}

.right_side{
  @include insideButton($forth_color, $primary_color);
}

.top {
  @include insideButton($primary_color, $tertiary_color);
}

.border-bottom-left-radius{
  border-bottom-left-radius: 1rem;
}

.border-bottom-right-radius{
  border-bottom-right-radius: 1rem;
}